/*Start Tab Screen Css */
@media all and (max-width:991px){
    .menu ul {
        padding-left: 0px;
        display: none;
    }
    .fa.fa-bars {
        color: #FFF;
        font-size: 22px;
        display: block;
    }
    .login-button a {
        font-size: 13px;
        line-height: 15px;
    }
    .hero-text h1 {
        font-size: 36px;
        line-height: 50px;
        padding-top: 20px;
    }
    .header-area {
        padding-bottom: 30px;
    }
    .player-img {
        height: 268px;
    }
    .single-player {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 42%;
                flex: 0 0 42%;
        max-width: 42%;
        width: 100%;
    }
    .hero-text h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .player-secion-area {
        padding-bottom: 40px;
    }
    .upcoming-match {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .hero-text p {
        max-width: 92%;
    }
}

/*End Tab Screen Css */
@media all and (max-width:767px){
    .hero-text h1 {
        padding-top: 0;
    }
    .player-img {
        height: 203px;
    }
    .all-highlights-area {
        padding-top: 20px;
        background: #FFF;
        padding-bottom: 40px;
    }
    .hero-content-area {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .hero-text {
        width: 100%;
        margin-bottom: 50px;
    }
    .hero-image {
        width: 100%;
    }
    .hero-image img{
        width: 100%;
    }
    .player-secion-area {
        padding-top: 47px;
    }
    .single-player {
        margin-bottom: 24px;
    }
    .single-player h3 {
        font-size: 23px;
        line-height: 27px;
        color: #18191F;
    }
    .contact-secion-area {
        background: #FFF;
        padding-top: 30px;
        padding-bottom: 0;
    }

}
/* Mobile Device Code */
@media all and (max-width:575px){
    .single-player {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 88%;
                flex: 0 0 88%;
        max-width: 88%;
        width: 100%;
    }
    .player-img {
        height: 263px;
    }
    .section-title h2 {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
    }
    .footer-content-area a img {
        width: 90%;
        margin: auto;
    }

}