body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
/******* End Hero SEcion Css ARea *******/
.header-area{
    background: #2D25A0;
	padding-top: 30px;
	padding-bottom: 59px;
}
.hero-section-area{
	background: #2D25A0;
	padding-top: 30px;
	padding-bottom: 75px;
}
.container{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-area-contetn {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu ul{
    padding-left: 0px;
}
.menu ul li {
	display: inline;
	list-style: none;
}
.menu ul li a {
	text-decoration: none;
	font-weight: 500;
    font-size: 16px;
    line-height: 24px;
	padding: 0 15px;
	transition: 0.2s;
    color: #FFFF;
}
.login-button a {
	display: flex;
	align-items: center;
	color: #FFF;
	text-decoration: none;
	background: #E02C6D;
	padding: 10px 24px;
	font-size: 16px;
	line-height: 24px;
    transition: 0.5s;
}
.login-button a img {
	margin-right: 12px;
	width: 17px;
	height: 16px;
}
.hero-image {
	width: 50%;
}
.hero-text {
	width: 50%;
}
.hero-content-area {
	display: flex;
	padding-top: 30px;
}
.hero-text h1 {
	color: #FFF;
	font-weight: bold;
	padding-top: 50px;
	margin-bottom: 27px;
	font-size: 64px;
	line-height: 80px;
}
.hero-text h1 span{
    color:#FC8C47;
} 
.hero-text p {
	font-weight: 500;
	font-size: 20px;
	letter-spacing: -0.02em;
	color: #828282;
	line-height: 1.6;
	max-width: 80%;
}
.button {
	margin-top: 27px;
}
.button a {
	text-decoration: none;
	color: #FFF;
	padding: 10px 24px;
	cursor: pointer;
	list-style: none;
	background: #E02C6D;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	justify-content: center;
	display: flex;
	width: max-content;
	align-items: center;
    transition: 0.5s;
}
.header-area:hover .login-button a{
    background: #3DBAFD;
    margin-right: 10px;
}
.hero-section-area:hover .button a{
    background: #3DBAFD;
    margin-left: 10px;
}
.button a img {
	width: 16px;
	height: 14px;
	margin-left: 12px;
    
}
/******* End Hero SEcion Css ARea *******/
/******* Start player SEcion Css ARea *******/
.player-secion-area {
	padding: 70px 0;
	background: #FFF;
}
.all-player-item {
	display: flex;
	flex-wrap: wrap;
}
.single-player {
	flex: 0 0 28.33%;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	padding: 15px;
	margin: 0 auto;
	margin-bottom: 27px;
}
.player-img {
	overflow: hidden;
	transition: 0.5s;
	height: 296px;
}
.single-player h3 {
	margin: 0;
	padding-top: 16px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 28px;
	line-height: 40px;
	color: #18191F;
}
.single-player p {
	margin: 0;
	padding-bottom: 18px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6C6C6C;
}
.player-img img {
	transition: 0.5s;
	width: 100%;
	height: 100%;
}

.player-img:hover img {
	overflow: hidden;
	transform: scale(1.1);
}

/******* Start player SEcion Css ARea *******/