body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}

/******* End Hero SEcion Css ARea *******/
.header-area{
    background: #2D25A0;
	padding-top: 30px;
	padding-bottom: 59px;
}
.hero-section-area{
	background: #2D25A0;
	padding-top: 30px;
	padding-bottom: 75px;
}
.container{
    max-width: 1240px;
    width: 95%;
    margin-left: 15px;
    margin-right: 15px;
    margin: auto;
}
.header-area-contetn {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu ul{
    padding-left: 0px;
}
.menu ul li {
	display: inline;
	list-style: none;
}
.menu ul li a {
	text-decoration: none;
	font-weight: 500;
    font-size: 16px;
    line-height: 24px;
	padding: 0 15px;
	transition: 0.2s;
    color: #FFFF;
}
.login-button a {
	display: flex;
	align-items: center;
	color: #FFF;
	text-decoration: none;
	background: #E02C6D;
	padding: 10px 24px;
	font-size: 16px;
	line-height: 24px;
    transition: 0.5s;
}
.login-button a img {
	margin-right: 12px;
	width: 17px;
	height: 16px;
}
.hero-image {
	width: 50%;
}
.hero-text {
	width: 50%;
}
.hero-content-area {
	display: flex;
	padding-top: 30px;
}
.hero-text h1 {
	color: #FFF;
	font-weight: bold;
	padding-top: 50px;
	margin-bottom: 27px;
	font-size: 64px;
	line-height: 80px;
}
.hero-text h1 span{
    color:#FC8C47;
} 
.button {
	margin-top: 27px;
}
.button a {
	text-decoration: none;
	color: #FFF;
	padding: 10px 24px;
	cursor: pointer;
	list-style: none;
	background: #E02C6D;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	justify-content: center;
	display: flex;
	width: max-content;
	align-items: center;
    transition: 0.5s;
}
.header-area:hover .login-button a{
    background: #3DBAFD;
    margin-right: 10px;
}
.hero-section-area:hover .button a{
    background: #3DBAFD;
    margin-left: 10px;
}
.button a img {
	width: 16px;
	height: 14px;
	margin-left: 12px;
    
}
/******* End Hero SEcion Css ARea *******/
/******* Start player SEcion Css ARea *******/
.player-secion-area {
	padding: 70px 0;
	background: #FFF;
}
.all-player-item {
	display: flex;
	flex-wrap: wrap;
}
.single-player {
	flex: 0 0 28.33%;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	padding: 15px;
	margin: 0 auto;
	margin-bottom: 27px;
}
.player-img {
	overflow: hidden;
	transition: 0.5s;
	height: 296px;
}
.single-player h3 {
	margin: 0;
	padding-top: 16px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 28px;
	line-height: 40px;
	color: #18191F;
}
.single-player p {
	margin: 0;
	padding-bottom: 18px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6C6C6C;
}
.player-img img {
	transition: 0.5s;
	width: 100%;
	height: 100%;
}

.player-img:hover img {
	overflow: hidden;
	transform: scale(1.1);
}

/******* End player SEcion Css ARea *******/

/***** Start All Highlights Section Css ARea  ****/
.all-highlights-area{
    padding-top: 40px;
    background: #FFF;
    padding-bottom: 70px;
}
.hero-text h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	color: #0A0826;
	margin-bottom: 8px;
}
.hero-text p {
	letter-spacing: -0.02em;
	max-width: 80%;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #6C6C6C;
}
.all-highlights-area:hover .button a {
	background: #3DBAFD;
	margin-left: 10px;
}
.hero-image img{
    width: 100%;
}
/******* End All Highlights Section Css ARea *****/

/* Footer Section Css ARea */
.footer-area{
    background: #FFF;
    padding-top: 50px;
    padding-bottom: 63px;
}
.footer-content-area {
	text-align: center;
}
.social-icon-footer ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-icon-footer ul li {
	list-style: none;
}
.social-icon-footer ul li a {
	background: #E7E7E8;
	margin: 5px 7px;
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #969BAB;
    transition: 0.5s;
}
.social-icon-footer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-icon-footer ul li a:hover {
    background: #2D25A0;
    color: #FFFF;
}
.footer-content-area p {
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

/* Footer Section Css ARea */

/* UpComming Mathc */
.upcoming-match{
    background: #FFF;
    padding-top: 50px;
    padding-bottom: 40px;
}
.upcoming-match .all-player-item .single-player {
	box-shadow: 0px 0px 40px rgba(168, 168, 168, 0.15);
	border-radius: 10px;
    transition: 0.5s;
}
.upcoming-match .all-player-item .single-player p{
    padding-bottom: 10px;
}
.upcoming-match .all-player-item .single-player:hover {
	background: #F2F2F2;
}
/* UpComming Mathc */

/* Contact Area Css */
.single-input input {
	width: 100%;
	outline: none !important;
	padding: 15px;
	color: #000;
	border: 1px solid #000;
	border-radius: 5px;
	margin-bottom: 25px;
	font-size: 15px;
    box-sizing: border-box;
}
.single-input textarea {
	width: 100%;
	outline: none !important;
	padding: 15px;
	color: #000;
	border: 1px solid #000;
	border-radius: 5px;
	margin-bottom: 25px;
	height: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
    box-sizing: border-box;
}
.submit-button input {
	display: inline-block;
	font-style: normal;
	border-radius: 100px;
	text-decoration: none;
	border: none;
	color: #FFF;
	padding: 15px 43px;
	list-style: none;
	background: #E02C6D;
	font-weight: 500;
	font-size: 20px;
	line-height: 22px;
	cursor: pointer;
    transition: 0.5s;
}
.submit-button input:hover{
	background: #3DBAFD;
}
.contact-secion-area{
    background: #FFF;
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-title {
	text-align: center;
	padding-bottom: 38px;
}
.section-title h2 {
	color: #000;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-transform: capitalize;
	margin-bottom: 30px;
}
.section-title p {
	font-size: 18px;
	max-width: 520px;
	width: 100%;
	margin: 0 auto;
	color: #000;
	line-height: 29px;
	font-weight: 400;
}
.contact-input-item {
	max-width: 800px;
	margin: auto;
	width: 100%;
}
/* Contact Area Css */